/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 24, 2019, 9:15:50 PM
    Author     : Mikkel
*/


.myinput{
    padding: 9px;
    
}

.mycenter {
  width: 100%;
  margin-left: 5%;
}

.mygif {
    background-image: url("./image/flight.gif"); 
    background-repeat:repeat;
}
